body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    background-color: #f2f4f6;
    color: grey;
}

a:hover {
    text-decoration: none;
}

a:link {
    color: grey;
}

/*MAIN CSS*/
.main {
    text-align: center;
    margin-top: 100px;
}

.title {
    font-size: 24px;
    float: left;
}

#clear {
    float: right;
    font-size: 12px;
    margin-top: 15px;
    opacity: .5;
    cursor: default;
}

#input {
    width: 100%;
    padding: 15px;
    color: #000;
    border: none;
    border-radius: 10px;
}

#input:focus {
    outline: none;
}

.subHead {
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
}

.red {
    color: red;
}

/*CSS FOR SEARCH CARDS*/
.searchResult {
    background-color: #fff;
    height: auto;
    width: 100%;
    padding: 20px;
    list-style-type: none;
    margin-top: 20px;
    text-align: left;
    opacity: .8;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    color: dimgrey;
}

.searchResult:hover {
    transition: all .5s;
    cursor: pointer;
    box-shadow: 1px 1px 10px grey;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

/*CSS FOR RANDOM ARTICLE GENERATOR*/
#random {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    width: auto;
    height: auto;
    background-color: #fba198;
    font-size: 12px;
    border: none;
    padding: 10px 15px;
    color: #fff;
}

#random:focus {
    outline: none;
}

/*CSS FOR SEARCH BUTTON*/
#search {
    margin-right: 40px;
    margin-bottom: 15px;
    width: auto;
    height: auto;
    background-color: #fba198;
    font-size: 12px;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    color: #fff;
}

#search:hover, #random:hover {
    
    background-color: #E74C3C;
    transition: all .5s;
}

#showResult {
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
}

.gitHub {
    
    position:absolute;
    top:0;
    right:0;
    border: 2px solid white;
    border-radius: 5px;
    width: auto;
    height: 35px;
    padding: 10px;
    font-size: 12px;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    margin: 20px 20px;
    z-index: 1;
        
}

.gitHub:hover {   
       
    cursor: pointer;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    transition: all 0.5s;
    
    
    }

.fa-github {
    
    float: left;
    color: black;
    
    }

.repo {
  float: right;
    color: black;
    
    }


















